// USER VARIABLES SECTION

$accent: #F9C869 // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #333 // Text Color
$raleway: raleway, sans-serif
$blue: #66c7cd
$red: #F86868

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
@import '../libs/fontawesome/font-awesome.min'
@import '../libs/mmenu/css/jquery.mmenu.all'
@import '../libs/css-hamburgers/hamburgers'
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $furl, $fweight)
	@font-face
		font-family: $fname
		font-style: normal
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('raleway', '../fonts/RalewayRegular/RalewayRegular', 400)
@include font('raleway', '../fonts/RalewayBold/RalewayBold', bold)
@include font('raleway', '../fonts/RalewayExtraBold/RalewayExtraBold', 800)
@include font('raleway', '../fonts/RalewayLight/RalewayLight', 300)
@include font('raleway', '../fonts/RalewaySemiBold/RalewaySemiBold', 600)
@include font('raleway', '../fonts/RalewayThin/RalewayThin', 100)
@include font('firasans', '../fonts/FiraSansRegular/FiraSansRegular', 400)

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $raleway
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			.top-line 
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1
				&__logo
					img
						width: 125px
						height: auto
						margin-left: 25px
				&__phone
					position: absolute
					right: 85px
					top: 44px
					font-family: firasans,sans-serif
					font-size: 22px
					white-space: nowrap
					color: #fff
					.fa
						color: #555555
						font-size: 22px
						margin-right: 3px
				&__hamburger
					position: absolute
					right: 0
					top: 34px
					.hamburger-box
						width: 34px
						.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
							border-radius: 0
							color: #ffffff
							width: 34px
							height: 2px
							background-color: #fff


section, header
	position: relative
	background-size: cover
	background-position: center

section 
	background-color: #fff