// USER VARIABLES SECTION

$accent: #F9C869 // Accent Color
$fontsize: 16px // Body Font Size
$textcolor: #fff // Text Color
$raleway: raleway, sans-serif
$blue: #66c7cd
$red: #F86868

$firasans: 'FiraSans', sans-serif // FiraSans Font Family
$raleway: Raleway, sans-serif // Raleway Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites
@import 'node_modules/mmenu-js/src/mmenu.scss'
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers.scss'

// FONTS LOAD SECTION
@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2')
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2')
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2')
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2')

@include font('FiraSans', normal, 400, '../fonts/FiraSansRegular/FiraSansRegular.woff')

@include font('Raleway', normal, 100, '../fonts/RalewayThin/RalewayThin.woff')
@include font('Raleway', normal, 300, '../fonts/RalewayLight/RalewayLight.woff')
@include font('Raleway', normal, 400, '../fonts/RalewayRegular/RalewayRegular.woff')
@include font('Raleway', normal, 600, '../fonts/RalewaySemiBold/RalewaySemiBold.woff')
@include font('Raleway', normal, 700, '../fonts/RalewayExtraBold/RalewayExtraBold.woff')
@include font('Raleway', normal, 800, '../fonts/RalewayExtraBold/RalewayExtraBold.woff')


// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green
h1,h2,h3,h4,h5,h6 
	line-height: 1.4
	text-transform: uppercase
body
	color: $textcolor
	font-family: $raleway
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	&.ishome
		.site-header
			min-height: 700px
			height: 100vh
			background-color: $dark
			.top-line 
				padding-top: 40px
				position: absolute
				width: 100%
				z-index: 1
				&__logo
					img
						width: 125px
						height: auto
						margin-left: 25px
				&__phone
					position: absolute
					right: 85px
					top: 44px
					font-family: $firasans
					font-size: 22px
					white-space: nowrap
					color: #fff
					.fa
						color: #555555
						font-size: 22px
						margin-right: 3px
				&__hamburger
					position: absolute
					right: 0
					top: 34px
					.hamburger-box
						width: 34px
						.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before
							border-radius: 0
							color: #ffffff
							width: 34px
							height: 2px
							background-color: #fff

.mm-navbar 
	border: none
	&__title 
		img
			width: 128px
			height: auto
			margin: 10px 0

.header-flex
	display: flex
	height: 100%
	position: relative
	top: 0
	&__center
		margin: auto
	&__composition
		text-align: center
		position: relative
		p 
			margin-top: 40px
			@media screen and ( max-width: 480px)
				font-size: 14px
	&__welcome
		p
			font-size: 14px
			text-transform: uppercase
			display: flex
			align-items: center
			white-space: nowrap
			margin: 0
			margin-bottom: -10px
			span
				margin: 0 10px
				@media only screen and (max-width: 480px)
					font-size: 9px
				&::before, &::after
					content: ''
					width: 100%
					height: 1px
					position: relative
					background-color: #fff
					display: inline-block
		strong
			display: block
			text-transform: uppercase
			font-size: 17px
			margin-top: 25px
			@media only screen and (max-width: 480px)
				margin-top: 15px
				font-size: 14px
			.fa
				margin-right: 10px
				font-size: 12px
				color: #555555
				&:last-child
					margin-left: 10px
					margin-right: inherit	
	&__h1
		white-space: nowrap
		font-weight: 100
		font-size: 70px
		margin: 0
		line-height: 1.6
		border-bottom: 1px solid #fff
		@media only screen and (max-width: 1200px)
			font-size: 64px
		@media only screen and (max-width: 992px)
			font-size: 48px
		@media only screen and (max-width: 480px)
			font-size: 28px
			margin-top: 5px
		
.header-social
	position: absolute
	display: flex
	right: 0
	height: 100%
	border-left: rgba(#fff, .1) 1px solid 
	top: 0
	padding: 0 12.5px

.social
	margin: auto
	ul,li	
		margin: 0
		padding: 0
		list-style-type: none
	a 
		color: #2c2c2c
		font-size: 17px
		display: block
		background-color: rgba(#fff, .2)
		height: 38px
		width: 38px
		text-align: center
		margin: 18px 0
		line-height: 38px
		border-radius: 10em
		transition: background-color .25s ease
		&:hover
			background-color: rgba(#fff, .4)

.header-contacts
	position: absolute
	bottom: 0
	left: 0
	border-top: 1px solid rgba(#fff, .15)
	padding: 12.5px 0
	width: 100%
	background-color: rgba(#151515, .15)
	@media only screen and (max-width: 1200px)
		font-size: 14px
	&__phone
		font-family: firasans, sans-serif
		text-align: center
		@media screen and ( max-width: 768px)
			text-align: left
	.fa
		margin-right: 5px
		color: #555555

section, header
	position: relative
	background-size: cover
	background-position: center

section 
	background-color: #fff