$colors: $blue, $red, $accent
@for $i from 1 through length($colors)
    .services__carousel .owl-item:nth-child(#{length($colors)}n+#{$i})
        background-color: nth($colors, $i)

.services
    &__item
        color: #ffffff
        font-size: 18px
        font-weight: 300
        position: relative
        display: flex
        flex-direction: column-reverse
        &:hover
            .services__images
                opacity: 1
    & .owl-item
        &:nth-child(2n+2)
            .services-item
                flex-direction: column
    &__images
        background-size: cover
        background-position: center
        opacity: 0.8
        transition: opacity .5s ease
    

